*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(1, 66, 66);
    color: #ffff;
}
.container{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    margin: 0 auto;
    width: 800px;
    height: auto;
    margin-top:90px;
    border: solid 1px red;
}
.container h1 , p, button{
    font-size: 1.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top:15px;
    padding-left: 20px;
}
button{
    margin-left:80px;
    color:black;
    border: none;
    padding:12px;
    background-color:blueviolet;
    border-radius:25%;
    -webkit-border-radius:25%;
    -moz-border-radius:25%;
    -ms-border-radius:25%;
    -o-border-radius:25%;
}